* {
  color: whitesmoke;
}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  background-color: navy;
  padding: 20px;
  margin: auto;
  color: white;
  align-items: center;
}

.me {
  height: 100px;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
  padding: 20px;
  object-fit: cover;
  animation: float 3s ease-in-out infinite;
  justify-content: left;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin: 0;
  padding-bottom: 10px;
}

header p img {
  height: 15px;
}

a {
  color: white;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: small;
}

nav ul li {
display: inline-block;
margin-bottom: 10px;
margin-right: 10px;
}


nav ul li:hover {
  transform: scale(1.2);
  background-color: rgba(153, 153, 153, 0.322);
  border-radius: 15px;
}

nav ul li a img {
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}


nav {
  color: white;
}

header {
  font-family: "Ubuntu", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 15px;
  max-width: 300px;
  margin: 0 auto;
}

section {
  border: 2px solid transparent; /* initial border is transparent */
  background-color: #49494931;
}


section:hover {
  border-color: navy; 
  box-shadow: 0 0 10px rgba(0, 0, 128, 0.712);
  transform: scale(1.2);
}

section {
  margin-top: 50px;
  margin-bottom: 0;
}

.line{
  height: 2px;
  background-color: #ffffff; 
  margin: 20px 0;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: navy;
  margin-top: 50px;
}

button {
  display: none;
  width: 100%;
}


@media (max-width: 600px) {
  section {
    height: 150px;
    width: 80%;
  }
}